header {
    color:yellowgreen;
    background-color: yellow;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding-left: 20px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: larger;
    margin: 0;
}