.animal {
    position: absolute;
}

.animal img {
    width: 100px;
}

.animal-name {
    text-transform: uppercase;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.animal-says {
    width:185px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}